mixin main-search()
    form.main-search
        input.main-search__input(type="text" name="q")
        input.main-search__button(type="submit" name="s" value="")
        .main-search__icon
            +svg-icon('scope')