.button {
    /*padding: 0 28px;*/
    /*border: 1px solid #323944;*/
    border-radius: 5px;
    line-height: 38px;
    font-family: $main-font;
    font-size: 0.9375rem;
    background-color: transparent;
    white-space: nowrap;
}