mixin performers(var1, var2)
    section.performers
        +tabs(
            {
                "btn_caption": 'все исполнители',
                "btn_class": 'performers__button'
            },
            {
                "caption": "Топ лучших экспертов",
                "content": "performers-tab",
                "var": var1,
                "status": "active"
            },
            {
                "caption": "Топ лучших компаний",
                "content": "performers-tab",
                "var": var2,
                "status": ''
            }
        )

mixin performers-tab(data)
    each row in data
        .row.performers__row
            each item in row
                .performers__col
                    article.performers__item
                        .performers__image
                            img(src="img/" + item.img alt="")
                        .performers__inner
                            header.performers__header= item.header
                            p.performers__text= item.text
                            footer.performers__footer На сайте #[span.performers__duration= item.footer]