.performers {
    padding: 40px 0 45px;

    @media (min-width: 1024px) {
        padding: 80px 0 91px;
    }

    &__button {
        width: 200px;
        margin-top: 24px;
        border: 1px solid #323944;
        text-transform: uppercase;

        @media (min-width: 800px) {
            margin-top: 0;
        }

        &:hover {
            background-color: darken(#ebebeb, 7%);
        }
    }

    &__row {
        justify-content: space-between;
    }

    &__col {
        width: 100%;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            width: 50%;
        }

        @media (min-width: 1170px) {
            width: auto;
        }
    }

    &__item {
        position: relative;
        width: 270px;
        height: 100%;
        margin: 0 auto;
        padding: 13px 11px 50px;
        border: 1px solid #f4f4f4;
        box-shadow: 0px 2px 25.23px 3.77px rgba(79, 80, 80, 0.08);
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 164px;
        margin-bottom: 46px;
        background-color: #f3f3f3;
    }

    &__inner {
        padding-left: 26px;
    }

    &__header {
        font-size: 1.3125rem;
        font-weight: 700;
        color: #383838;
    }

    &__text {
        font-size: 1rem;
        font-weight: 600;
        color: #323944;
        margin-bottom: 50px;
    }

    &__footer {
        position: absolute;
        bottom: 50px;
        font-size: 1rem;
        font-weight: 400;
        color: #383838;
    }

    &__duration {
        font-weight: 700;
        color: #5BD29F;
    }
}