mixin hero()
    section.hero
        .hero__inner
            .container
                    .hero__title
                        .hero__title-top не знаете с чего начать?
                        .hero__title-bottom профессионалы подскажут
                    button.hero__button заказать проектирование