include head/head
include svg-icon/svg-icon
include header/header
include main-menu/main-menu
include main-search/main-search
include signin/signin
include signup/signup
include hero/hero
include performers/performers
include projects/projects
include tabs/tabs
include footer/footer

doctype html
html(lang="ru")

    block head
        head
            +head({
                "title": "INKOCH - главная страница",
                "author": "Roman",
                "description": "Компания INKOCH"
            })

        body
            block header
                +header()

            block hero
                +hero()

            block performers
                -
                    var experts = [
                                    [{img: 'expertpro.png', header: 'ЭкспертПро', text: 'экспертиза проектирование', footer: '1 год'},
                                    {img: 'abazov.png', header: 'Абазов Алексей Хашаович', text: 'экспертиза', footer: '3 месяца'},
                                    {img: 'construct.png', header: 'CONTRUST', text: 'экспертиза проектирование', footer: '1 год'},
                                    {img: 'isk.png', header: 'ООО «ИСК»', text: 'экспертиза', footer: '5 месяцев'}],
                                    [{img: 'isk.png', header: 'ЭкспертПро', text: 'экспертиза проектирование', footer: '1 год'},
                                    {img: 'construct.png', header: 'Абазов Алексей Хашаович', text: 'экспертиза', footer: '3 месяца'},
                                    {img: 'isk.png', header: 'CONTRUST', text: 'экспертиза проектирование', footer: '1 год'},
                                    {img: 'expertpro.png', header: 'ООО «ИСК»', text: 'экспертиза', footer: '5 месяцев'}],
                                    [{img: 'construct.png', header: 'Абазов Алексей Хашаович', text: 'экспертиза', footer: '3 месяца'},
                                    {img: 'expertpro.png', header: 'ООО «ИСК»', text: 'экспертиза', footer: '5 месяцев'},
                                    {img: 'abazov.png', header: 'ЭкспертПро', text: 'экспертиза проектирование', footer: '1 год'},
                                    {img: 'construct.png', header: 'CONTRUST', text: 'экспертиза проектирование', footer: '1 год'}],
                                ];
                -
                    var companies = [
                                        [{img: 'construct.png', header: 'Абазов Алексей Хашаович', text: 'экспертиза', footer: '3 месяца'},
                                        {img: 'abazov.png', header: 'ЭкспертПро', text: 'экспертиза проектирование', footer: '1 год'},
                                        {img: 'expertpro.png', header: 'ООО «ИСК»', text: 'экспертиза', footer: '5 месяцев'},
                                        {img: 'construct.png', header: 'CONTRUST', text: 'экспертиза проектирование', footer: '1 год'}],
                                        [{img: 'expertpro.png', header: 'ЭкспертПро', text: 'экспертиза проектирование', footer: '1 год'},
                                        {img: 'abazov.png', header: 'Абазов Алексей Хашаович', text: 'экспертиза', footer: '3 месяца'},
                                        {img: 'isk.png', header: 'ООО «ИСК»', text: 'экспертиза', footer: '5 месяцев'},
                                        {img: 'construct.png', header: 'CONTRUST', text: 'экспертиза проектирование', footer: '1 год'}],
                                        [{img: 'isk.png', header: 'ЭкспертПро', text: 'экспертиза проектирование', footer: '1 год'},
                                        {img: 'construct.png', header: 'Абазов Алексей Хашаович', text: 'экспертиза', footer: '3 месяца'},
                                        {img: 'isk.png', header: 'CONTRUST', text: 'экспертиза проектирование', footer: '1 год'},
                                        {img: 'expertpro.png', header: 'ООО «ИСК»', text: 'экспертиза', footer: '5 месяцев'}],
                                    ];

                +performers(experts, companies)

            block projects
                -
                    var expertises = [
                                        {
                                            header: 'Информация о природно-климатических условиях площадки строительства, особенностях...',
                                            text: {building_area: '300', floors: '5', land_area: '700'},
                                            footer: {doc_types: ['Проектная', 'Рабочая документация'], participants_cnt: '7'},
                                            aside: {price: '27 000 Р.', period: '2 месяца', date_create: '07.08.2018'}
                                        },
                                        {
                                            header: 'Подготовка документов, подтверждающие право собственности на землю (или договор аренды)',
                                            text: {building_area: '300', floors: '5', land_area: '700'},
                                            footer: {doc_types: ['Изыскательные', 'Проектная', 'Рабочая документация'], participants_cnt: '2'},
                                            aside: {price: '27 000 Р.', period: '4 дня', date_create: '07.08.2018'}
                                        },
                                        {
                                            header: 'Определение свойств грунта, наличия и состава грунтовых вод, определение грунта основания...',
                                            text: {building_area: '300', floors: '5', land_area: '700'},
                                            footer: {doc_types: ['Изыскательные', 'Проектная', 'Рабочая документация'], participants_cnt: '2'},
                                            aside: {price: '27 000 Р.', period: '4 дня', date_create: '07.08.2018'}
                                        },
                                        {
                                            header: 'Разработка проектной документации для получения согласований и заключения экспертизы',
                                            text: {building_area: '300', floors: '5', land_area: '700'},
                                            footer: {doc_types: ['Проектная'], participants_cnt: '3'},
                                            aside: {price: '27 000 Р.', period: '2 месяца', date_create: '07.08.2018'}
                                        },
                                    ];
                -
                    var design = [
                                    {
                                        header: 'Подготовка документов, подтверждающие право собственности на землю (или договор аренды)',
                                        text: {building_area: '300', floors: '5', land_area: '700'},
                                        footer: {doc_types: ['Изыскательные', 'Проектная', 'Рабочая документация'], participants_cnt: '2'},
                                        aside: {price: '27 000 Р.', period: '4 дня', date_create: '07.08.2018'}
                                    },
                                    {
                                        header: 'Информация о природно-климатических условиях площадки строительства, особенностях...',
                                        text: {building_area: '300', floors: '5', land_area: '700'},
                                        footer: {doc_types: ['Проектная', 'Рабочая документация'], participants_cnt: '7'},
                                        aside: {price: '27 000 Р.', period: '2 месяца', date_create: '07.08.2018'}
                                    },
                                    {
                                        header: 'Разработка проектной документации для получения согласований и заключения экспертизы',
                                        text: {building_area: '300', floors: '5', land_area: '700'},
                                        footer: {doc_types: ['Проектная'], participants_cnt: '3'},
                                        aside: {price: '27 000 Р.', period: '2 месяца', date_create: '07.08.2018'}
                                    },
                                    {
                                        header: 'Определение свойств грунта, наличия и состава грунтовых вод, определение грунта основания...',
                                        text: {building_area: '300', floors: '5', land_area: '700'},
                                        footer: {doc_types: ['Изыскательные', 'Проектная', 'Рабочая документация'], participants_cnt: '2'},
                                        aside: {price: '27 000 Р.', period: '4 дня', date_create: '07.08.2018'}
                                    },
                                ];
                +projects(expertises, design)

            block footer
                -
                    var menus = [
                            {
                                header: 'Проектирование',
                                items: ['Заказать проектирование', 'Выбрать исполнителя', 'Заявки на проектирование', 'Создать тендер', 'Услуги сторонних организаций', 'Безопасная сделка']
                            },
                            {
                                header: 'Экспертизы',
                                items: ['Заказать экспертизу', 'Выбрать исполнителя', 'Создать тендер', 'Безопасная сделка']
                            },
                            {
                                header: 'Исполнители',
                                items: ['Заявки на проектирование', 'Безопасная сделка']
                            },
                            {
                                header: 'Аккаунт',
                                items: ['Личный кабинет', 'Зарегистрироваться', 'Восстановить доступ', 'Экспертам', 'Заказчикам']
                            },
                            {
                                header: 'Общая информация',
                                items: ['О сайте', 'Поиск по сайту', 'Помощь', 'Правила', 'Контакты']
                            }
                    ]

                +footer(menus)

            block scripts
                script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

                // build:js js/main.js
                script(src="js/main.js")
                // endbuild