include head/head
include svg-icon/svg-icon
include header/header
include main-menu/main-menu
include main-search/main-search
include signin/signin
include signup/signup

doctype html
html(lang="ru")

    block head
        head
            +head({
                "title": "INKOCH - главная страница",
                "author": "Roman",
                "description": "Компания INKOCH"
            })

        body
            block header
                +header()
