.projects {
    padding: 42px 0;
    background-color: #ebebeb;

    @media (min-width: 1024px) {
        padding: 84px 0;
    }

    &__title {
        margin: 0 0 43px;
        font-size: 1.5rem;
        font-weight: 700;
        color: #323944;

        @media (min-width: 768px) {
            font-size: 1.875rem;
        }
    }

    &__button {
        width: 200px;
        margin-top: 24px;
        border: 1px solid #323944;
        font-weight: 600;
        text-transform: uppercase;

        @media (min-width: 800px) {
            margin-top: 0;
        }

        &:hover {
            background-color: darken(#ebebeb, 7%);
        }
    }

    &__items-wrapper {
        margin-bottom: 48px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        min-height: 226px;
        margin-bottom: 38px;
        padding: 24px 34px 24px 23px;
        background-color: #fff;
        box-shadow: 0px 2px 3.92px 0.08px rgba(79, 80, 80, 0.08);
    }

    &__left-col {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media (min-width: 1024px) {
            width: 75%;
        }
    }

    &__image {
        width: 168px;
        height: 178px;
        margin: 0 auto;
        background-color: #f3f3f3;

        @media (min-width: 1024px) {
            margin: 0;
        }
    }

    &__main {
        /*width: 670px;*/
        width: 100%;
        padding-top: 15px;

        @media (min-width: 1024px) {
            width: calc(100% - 168px);
            padding-left: 35px;
        }
    }

    &__header {
        margin: 0 0 25px;
        font-size: 1.25rem;
        font-weight: 700;
        color: #383838;
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__building-area {
        margin-right: 13px;
    }

    &__floors {
        margin-right: 21px;
    }

    &__doc-types {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 4px;
        padding: 0;
        color: #383838;
    }

    &__doc-type {
        margin: 0 10px 10px 0;
        padding: 0 22px;
        border-radius: 16px;
        line-height: 32px;
        background-color: #def7ec;
    }

    &__participants-cnt {
        color: #a6a6aa;
    }

    &__right-col {
        /*width: 262px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;
        text-align: left;

        @media (min-width: 1024px) {
            width: 25%;
            padding-top: 15px;
            justify-content: flex-end;
            text-align: right;
        }
    }

    &__price {
        margin-bottom: 5px;
        color: #383838;

        span {
            font-size: 1.125rem;
            font-weight: 700;
            color: #22c77f;
        }
    }

    &__period {
        margin-bottom: 20px;

        span {
            font-size: 1.125rem;
            font-weight: 700;
            color: #383838;
        }

        @media (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }

    &__date-create {
        margin-bottom: 14px;
        color: #a6a6aa;
    }

    &__item-button {
        width: 156px;
        border: 1px solid #636363;
        font-size: 1rem;
        font-weight: 700;
        color: #636363;

        &:hover {
            background-color: darken(#ebebeb, 7%);
        }
    }

    &__more-button {
        display: block;
        width: 178px;
        margin: 0 auto;
        border: 1px solid #bababa;
        font-size: 0.9375rem;
        color: #888585;

        &:hover {
            background-color: darken(#ebebeb, 7%);
        }
    }
}