.signup {
    &__checkbox-container {
        margin-bottom: 24px;
    }

    &__signin-link {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__form {
        @media (min-width: 768px) {
            right: 0;
        }
    }
}